body {
    box-sizing: border-box;
    background: #fff;
}

.navbar {
    min-height: 45px;
    max-height: 45px;
}

.main {
    background: #FFFFFF;
    position: relative;
    z-index: 3;
    padding-bottom: 40px;
}

.main section {
    border-radius: 6px;
}

.main-raised {
    margin: -60px 30px 0px;
    border-radius: 10px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.profile-page .button-container {
    margin-top: -90px;
}

.bg-danger-trans {
    background: rgba(217, 83, 79, 0.9);
}

.row {
    margin: 0;
    padding: 0;
}

.bg-github {
    background: #333;
}

.bg-github:hover, .bg-github:focus, .bg-github:active {
    background: #222;
}

.bg-linkedin {
    background: #0077B5;
}

.bg-linkedin:hover, .bg-linkedin:focus, .bg-linkedin:active {
    background: #0077B5;
}

.bg-mail, .bg-mail:hover, .bg-mail:focus, .bg-mail:active {
    background: rgb(217, 83, 79);
}

.pos-absolute {
    position: absolute !important;
}

section {
    position: relative !important;
    padding: 70px 0 20px 0 !important;
    background: rgb(255, 255, 255);
}

section.bg-danger, .section.bg-danger {
    background-color: rgb(217, 83, 79);
    color: #ffffff !important;
}

section.page-header {
    padding: 0 !important;
}

.mt20 {
    margin-top: 20px;
}

.title {
    text-transform: capitalize;
}

.page-header.page-header-small {
    height: 87vh;
    max-height: 100vh;
}

.position-fixed {
    position: fixed !important;
    top: 0;
    left: 0;
}

.container-scroll {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.row-scroll {
    margin: 40px 0;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
    overflow: scroll;
    flex-wrap: nowrap;
}

.row-scroll::-webkit-scrollbar {
    display: none;
}

.row-scroll .card {
    padding: 0;
    margin: 20px 2%;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.4);
}

.row-scroll .card:nth-child(1) {
    margin-left: 10%;
}

.row-scroll .card .back {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
    padding: 5px;
}

.row-scroll .card .back .blockquote {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.row-scroll .card:hover .back {
    opacity: 1;
    transition: 0.5s;
}

.about-details-row {
    justify-content: center;
    margin-bottom: 0px;
}

.image-sign {
    margin-top: 60px;
    text-align: center;
    margin-bottom: 0;
}

.about-who {
    padding: 10px 20px 20px 20px;
    z-index: 5;
    position: absolute;
    top: 70px;
    left: -30px;
}

.about-quote {
    margin: -20px auto 20px auto;
    width: 50%;
}

.highlight {
    background: rgba(217, 83, 79, 0.4);
}

footer {
    padding: 15px 0;
    font-size: 18px;
}

footer .copyright {
    padding: 15px 0;
}

.nav-item {
    cursor: pointer;
}

.profile-page h5.description {
    margin-bottom: 40px;
}

hr {
    background-color: rgb(217, 83, 79);
}

.experience-box:before {
    position: absolute;
    left: 6%;
    content: ' ';
    display: block;
    width: 2px;
    height: calc(100% - 240px);
    margin-left: 10px;
    margin-top: 20px;
    background: #2c2c2c;
    z-index: 5;
    border-radius: 6px;
}

.experience-row {
    justify-content: center;
    text-align: left;
}

.experience-row:before {
    position: absolute;
    left: 5%;
    content: ' ';
    display: block;
    width: 18px;
    height: 18px;
    margin-top: 20px;
    margin-left: 13px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid rgb(217, 83, 79);
    z-index: 10;
}

.experience-row h4 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.experience-row hr {
    margin: 5px 0;
}

.experience-row .description {
    text-align: left;
    margin-bottom: 5px;
}

.company .duration {
    font-weight: 500;
}

.company-logo {
    margin-top: 30px;
}

.navbar a, .navbar a:hover, .navbar a:focus, .navbar a:active {
    color: #FFFFFF;
}

a, a:hover, a:focus, a:active {
    color: rgb(217, 83, 79);
}

ul {
    color: rgb(217, 83, 79) !important;
    padding: 0 0 0 20px;
}

li p {
    color: black !important;
    margin-bottom: 0.5em;
}

.section-projects {
    padding-top: 20px !important;
}

.project-card {
    padding: 0 20px;
    margin: 0;
    box-shadow: none;
}

.project-card .img-raised {
    margin-bottom: 40px;
    border-radius: 0.1875rem;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2)
}

.project-card .project-details {
    padding: 5px 20px 20px;
    text-align: left !important;
}

.project-details h3 {
    margin: 0;
}

.project-details hr {
    margin: 5px 0;
}

.project-details h5.description {
    text-align: left;
    margin: 5px 0;
}

.project-details p {
    margin-bottom: 5px;
}

.project-card .image-container[filter-color="orange"] {
    background: rgba(44, 44, 44, 0.2);
    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.6));
}

@media (max-width: 767px) {

    .main-raised {
        margin: -60px 15px 0px;
    }

    section {
        padding: 30px 0 !important;
    }

    .about-details-row {
        margin-bottom: 20px;
    }

    .about-left {
        display: none;
    }

    .about-who {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 0;
        box-shadow: none;
    }

    .content {
        display: none;
    }

    .experience-box:before, .experience-row:before {
        display: none;
    }
}
