<!-- Add jQuery and other scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ \'/blog/assets/js/jquery-1.11.2.min.js\' | prepend: site.baseurl }}"><\/script>')</script>
<script src="{{ '/blog/assets/js/dropcap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/blog/assets/js/responsive-nav.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/blog/assets/js/scripts.js' | prepend: site.baseurl }}"></script>
